.searchLine {
    position: relative;
    z-index: 10;
    width: 200px;
}

.searchLine:focus {
    box-shadow: none;
}

#searchList {
    position: absolute;
    top: 48px;
    border: solid 1px black;
    border-top: none;
    border-radius: 10px;
    padding: 0;
    width: 200px;
    z-index: 9;
    li {
        position: relative;
        list-style: none;
        background-color: white;
        font-size: 1em;
        width: 109%;
    }
    li:hover {
        background-color: rgb(119, 119, 119);
    }
}